Governor.Umbraco.FullTextSearch.Console/Service References/FullTextService/fulltextservice1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://umbraco.org/webservices/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://umbraco.org/webservices/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://umbraco.org/webservices/">
      <s:element name="GetWebservicesVersion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetWebservicesVersionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetWebservicesVersionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RebuildFullTextIndex">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RebuildFullTextIndexResponse">
        <s:complexType />
      </s:element>
      <s:element name="ReindexFullTextNodes">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nodes" type="tns:ArrayOfInt" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfInt">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="int" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="ReindexFullTextNodesResponse">
        <s:complexType />
      </s:element>
      <s:element name="ReindexAllFullTextNodes">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReindexAllFullTextNodesResponse">
        <s:complexType />
      </s:element>
      <s:element name="ReindexFullTextNodesAndChildren">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nodes" type="tns:ArrayOfInt" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReindexFullTextNodesAndChildrenResponse">
        <s:complexType />
      </s:element>
      <s:element name="WebservicesEnabled">
        <s:complexType />
      </s:element>
      <s:element name="WebservicesEnabledResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="WebservicesEnabledResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserAuthenticates">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserAuthenticatesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UserAuthenticatesResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserHasAccess">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserHasAccessResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UserHasAccessResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetWebservicesVersionSoapIn">
    <wsdl:part name="parameters" element="tns:GetWebservicesVersion" />
  </wsdl:message>
  <wsdl:message name="GetWebservicesVersionSoapOut">
    <wsdl:part name="parameters" element="tns:GetWebservicesVersionResponse" />
  </wsdl:message>
  <wsdl:message name="RebuildFullTextIndexSoapIn">
    <wsdl:part name="parameters" element="tns:RebuildFullTextIndex" />
  </wsdl:message>
  <wsdl:message name="RebuildFullTextIndexSoapOut">
    <wsdl:part name="parameters" element="tns:RebuildFullTextIndexResponse" />
  </wsdl:message>
  <wsdl:message name="ReindexFullTextNodesSoapIn">
    <wsdl:part name="parameters" element="tns:ReindexFullTextNodes" />
  </wsdl:message>
  <wsdl:message name="ReindexFullTextNodesSoapOut">
    <wsdl:part name="parameters" element="tns:ReindexFullTextNodesResponse" />
  </wsdl:message>
  <wsdl:message name="ReindexAllFullTextNodesSoapIn">
    <wsdl:part name="parameters" element="tns:ReindexAllFullTextNodes" />
  </wsdl:message>
  <wsdl:message name="ReindexAllFullTextNodesSoapOut">
    <wsdl:part name="parameters" element="tns:ReindexAllFullTextNodesResponse" />
  </wsdl:message>
  <wsdl:message name="ReindexFullTextNodesAndChildrenSoapIn">
    <wsdl:part name="parameters" element="tns:ReindexFullTextNodesAndChildren" />
  </wsdl:message>
  <wsdl:message name="ReindexFullTextNodesAndChildrenSoapOut">
    <wsdl:part name="parameters" element="tns:ReindexFullTextNodesAndChildrenResponse" />
  </wsdl:message>
  <wsdl:message name="WebservicesEnabledSoapIn">
    <wsdl:part name="parameters" element="tns:WebservicesEnabled" />
  </wsdl:message>
  <wsdl:message name="WebservicesEnabledSoapOut">
    <wsdl:part name="parameters" element="tns:WebservicesEnabledResponse" />
  </wsdl:message>
  <wsdl:message name="UserAuthenticatesSoapIn">
    <wsdl:part name="parameters" element="tns:UserAuthenticates" />
  </wsdl:message>
  <wsdl:message name="UserAuthenticatesSoapOut">
    <wsdl:part name="parameters" element="tns:UserAuthenticatesResponse" />
  </wsdl:message>
  <wsdl:message name="UserHasAccessSoapIn">
    <wsdl:part name="parameters" element="tns:UserHasAccess" />
  </wsdl:message>
  <wsdl:message name="UserHasAccessSoapOut">
    <wsdl:part name="parameters" element="tns:UserHasAccessResponse" />
  </wsdl:message>
  <wsdl:portType name="FullTextServiceSoap">
    <wsdl:operation name="GetWebservicesVersion">
      <wsdl:input message="tns:GetWebservicesVersionSoapIn" />
      <wsdl:output message="tns:GetWebservicesVersionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RebuildFullTextIndex">
      <wsdl:input message="tns:RebuildFullTextIndexSoapIn" />
      <wsdl:output message="tns:RebuildFullTextIndexSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReindexFullTextNodes">
      <wsdl:input message="tns:ReindexFullTextNodesSoapIn" />
      <wsdl:output message="tns:ReindexFullTextNodesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReindexAllFullTextNodes">
      <wsdl:input message="tns:ReindexAllFullTextNodesSoapIn" />
      <wsdl:output message="tns:ReindexAllFullTextNodesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReindexFullTextNodesAndChildren">
      <wsdl:input message="tns:ReindexFullTextNodesAndChildrenSoapIn" />
      <wsdl:output message="tns:ReindexFullTextNodesAndChildrenSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WebservicesEnabled">
      <wsdl:input message="tns:WebservicesEnabledSoapIn" />
      <wsdl:output message="tns:WebservicesEnabledSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UserAuthenticates">
      <wsdl:input message="tns:UserAuthenticatesSoapIn" />
      <wsdl:output message="tns:UserAuthenticatesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UserHasAccess">
      <wsdl:input message="tns:UserHasAccessSoapIn" />
      <wsdl:output message="tns:UserHasAccessSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FullTextServiceSoap" type="tns:FullTextServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetWebservicesVersion">
      <soap:operation soapAction="http://umbraco.org/webservices/GetWebservicesVersion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RebuildFullTextIndex">
      <soap:operation soapAction="http://umbraco.org/webservices/RebuildFullTextIndex" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReindexFullTextNodes">
      <soap:operation soapAction="http://umbraco.org/webservices/ReindexFullTextNodes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReindexAllFullTextNodes">
      <soap:operation soapAction="http://umbraco.org/webservices/ReindexAllFullTextNodes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReindexFullTextNodesAndChildren">
      <soap:operation soapAction="http://umbraco.org/webservices/ReindexFullTextNodesAndChildren" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebservicesEnabled">
      <soap:operation soapAction="http://umbraco.org/webservices/WebservicesEnabled" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserAuthenticates">
      <soap:operation soapAction="http://umbraco.org/webservices/UserAuthenticates" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserHasAccess">
      <soap:operation soapAction="http://umbraco.org/webservices/UserHasAccess" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FullTextServiceSoap12" type="tns:FullTextServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetWebservicesVersion">
      <soap12:operation soapAction="http://umbraco.org/webservices/GetWebservicesVersion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RebuildFullTextIndex">
      <soap12:operation soapAction="http://umbraco.org/webservices/RebuildFullTextIndex" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReindexFullTextNodes">
      <soap12:operation soapAction="http://umbraco.org/webservices/ReindexFullTextNodes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReindexAllFullTextNodes">
      <soap12:operation soapAction="http://umbraco.org/webservices/ReindexAllFullTextNodes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReindexFullTextNodesAndChildren">
      <soap12:operation soapAction="http://umbraco.org/webservices/ReindexFullTextNodesAndChildren" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebservicesEnabled">
      <soap12:operation soapAction="http://umbraco.org/webservices/WebservicesEnabled" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserAuthenticates">
      <soap12:operation soapAction="http://umbraco.org/webservices/UserAuthenticates" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserHasAccess">
      <soap12:operation soapAction="http://umbraco.org/webservices/UserHasAccess" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FullTextService">
    <wsdl:port name="FullTextServiceSoap" binding="tns:FullTextServiceSoap">
      <soap:address location="http://4.7.2.umbraco.local/umbraco/webservices/fulltextservice.asmx" />
    </wsdl:port>
    <wsdl:port name="FullTextServiceSoap12" binding="tns:FullTextServiceSoap12">
      <soap12:address location="http://4.7.2.umbraco.local/umbraco/webservices/fulltextservice.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>